In [1]:
# 1. Filter even values out of a list with list comprehension

l1 = [1,2,3,4,5,6,7,8,9,10]
[i for i in l1 if i%2!=0]

[1, 3, 5, 7, 9]

In [2]:
for i in l12:
    if i%2!=0:
        print(i)

1
3
5
7
9

In [3]:
# 2. Count occurrences of each value in a list
from collections import Counter
l2 = ['a','a','a','a','b','b','b',1,2,3,4,1,2,3,4,2,1,2,3,4]

In [2]:
Counter(l2)

Counter({'a': 4, 'b': 3, 1: 3, 2: 4, 3: 3, 4: 3})

In [6]:
# 3. Combine elements in a list into a single string.
l3=['a','b','c','d','e']
for i in l3:
    print(i)

a
b
c
d
e

In [10]:
# 4. Combine 2 lists into a dictionary

l1 = ['a','b','c','d','e']
l2 = [1,2,3,4,5]
for x in l1:
    for y in l2:
        d1={x:y}
d1

{'e': 5}

In [14]:
d2={x:y for x in l1 for y in l2}
d2

{'a': 5, 'b': 5, 'c': 5, 'd': 5, 'e': 5}

In [8]:
dict(zip(l1,l2))                                          #correct method

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [15]:
# 5. Write a Python program to change the position of every n-th value with the (n+1)th in a list.

l1=[1,2,3,4,5,6,7]
l2=[]
for

SyntaxError: invalid syntax (2431640969.py, line 5)

In [17]:
# 6. Write a Python program to convert a list of multiple integers into a single integer.
l1=[1,2,3,4,5]
x = int("".join(map(str, l1)))
x

12345

In [18]:
# 7. Write a Python program to select the odd items of a list.
l1=[1,2,3,4,5,6]
l1[::2]

[1, 3, 5]

In [19]:
# 8. Write a Python program to insert an element before each element of a list
l1=['a','s','d','f','g']
for i in l1:
    print('1',i)

1 a
1 s
1 d
1 f
1 g

In [24]:
l2=[i for i in l1 for i in ('s',i)]
l2

['s', 'a', 's', 's', 's', 'd', 's', 'f', 's', 'g']

In [27]:
# 9. Write a Python program to compute the difference between two lists. Go to the editor

l1= ["red", "orange", "green", "blue", "white"]
l2= ["black", "yellow", "green", "blue"]
for x in l1:
    if x not in l2:
        print(x)

red
orange
white

In [32]:
# 10. Write a Python program to replace the last element in a list with another list. 

l1=[1,2,3,4,5,[23]]
l2=[6,7,8,9]
for l1[-1] in l1:
    l1[-1]=l2
print(l1)

[1, 2, 3, 4, 5, [6, 7, 8, 9]]