In [36]:
A = [2,5,0,9,3,5,6,7]

In [37]:
for x in A:
    print(x)

2
5
0
9
3
5
6
7

In [38]:
for x in A:
    print(x+x)

4
10
0
18
6
10
12
14

In [39]:
sum(A)     #1

37

In [40]:
max(A)     #3

9

In [14]:
min(A)     #4

0

In [34]:
result = 1
for x in A:
    result = result * x
    return result

SyntaxError: 'return' outside function (542077467.py, line 4)

In [31]:
def mutiply(A):
    result = 1
    for x in A:
        result = result * x
    return result

In [32]:
result

NameError: name 'result' is not defined

In [31]:
def multiplyList(myList) :
    result = 1
    for x in myList:
         result = result * x
    return result
     
list1 = [1, 2, 3]
list2 = [3, 2, 4]
print(multiplyList(list1))
print(multiplyList(list2))         #2

6
24

In [41]:
original_list = [10, 22, 44, 23, 4]
new_list = list(original_list)
print(original_list)
print(new_list)                               #9

[10, 22, 44, 23, 4]
[10, 22, 44, 23, 4]

In [1]:
a = [10,20,30,20,10,50,60,40,80,50,40]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)                             #7

{40, 10, 80, 50, 20, 60, 30}

In [2]:
l = []
if not l:
  print("List is empty")                      #8

List is empty

In [3]:
original_list = [10, 22, 44, 23, 4]
new_list = list(original_list)
print(original_list)
print(new_list)                               #9

[10, 22, 44, 23, 4]
[10, 22, 44, 23, 4]

In [17]:
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
print("Original list elements:")
print(color)
del color[0]
print("After removing the first color:")
print(color)                                  #12

Original list elements:
['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
After removing the first color:
['Green', 'White', 'Black', 'Pink', 'Yellow']

In [18]:
del color[4]

In [20]:
print(color)

['Green', 'White', 'Black', 'Pink']

In [21]:
del color[3]

In [22]:
color

['Green', 'White', 'Black']

In [23]:
array = [[ ['*' for col in range(6)] for col in range(4)] for row in range(3)]
print(array)                                                                         #13

[[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]]

In [24]:
list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
diff_list1_list2 = list(set(list1) - set(list2))
diff_list2_list1 = list(set(list2) - set(list1))
total_diff = diff_list1_list2 + diff_list2_list1
print(total_diff)                                              #19

[9, 3, 5, 8, 2, 4, 6]

In [27]:
list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
diff_list1_list2 = list(set(list1) - set(list2))
print(diff_list1_list2)

[9, 3, 5]

In [30]:
diff_list2_list1 = list(set(list2) - set(list1))
print(diff_list2_list1)

[8, 2, 4, 6]

#

In [2]:
#Calculator

In [ ]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    return x / y

print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:

    choice = input("Enter choice(1/2/3/4): ")

    
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        

        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    
    else:
        print("Invalid Input")

In [ ]:
print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:

    choice = input("Enter choice(1/2/3/4): ")

    
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", num1+num2)

        elif choice == '2':
            print(num1, "-", num2, "=", num1-num2)

        elif choice == '3':
            print(num1, "*", num2, "=", num1*num2)

        elif choice == '4':
            print(num1, "/", num2, "=", num1/num2)
        

        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    
    else:
        print("Invalid Input")

In [ ]:
print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:

    choice = input("Enter choice(1/2/3/4): ")

    
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", num1+num2)

        elif choice == '2':
            print(num1, "-", num2, "=", num1-num2)

        elif choice == '3':
            print(num1, "*", num2, "=", num1*num2)

        elif choice == '4':
            print(num1, "/", num2, "=", num1/num2)
        

        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
        else:
            print("Invalid Input")
    
    else:
        print("Invalid Input")