In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from pandas import Series,DataFrame

In [4]:
# 3. How to convert a list into a string?

In [5]:
a = ['x', 'y', 'z']

In [6]:
def listToString(a): 
    b = ""  
    for i in a: 
        b += i  
    return b

In [7]:
print(listToString(a))

xyz

In [8]:
# 6. How to count the occurrences of a particular element in the list?

In [9]:
c = ['a','b','f','e','j','h','w','k','v','b','b','4','2','6','8','8','8']

In [10]:
c

['a',
 'b',
 'f',
 'e',
 'j',
 'h',
 'w',
 'k',
 'v',
 'b',
 'b',
 '4',
 '2',
 '6',
 '8',
 '8',
 '8']

In [11]:
print(c.count('b'))

3

In [16]:
d = {i:c.count(i) for i in c}

In [17]:
d

{'a': 1,
 'b': 3,
 'f': 1,
 'e': 1,
 'j': 1,
 'h': 1,
 'w': 1,
 'k': 1,
 'v': 1,
 '4': 1,
 '2': 1,
 '6': 1,
 '8': 3}

In [18]:
c

['a',
 'b',
 'f',
 'e',
 'j',
 'h',
 'w',
 'k',
 'v',
 'b',
 'b',
 '4',
 '2',
 '6',
 '8',
 '8',
 '8']

In [19]:
[[i,c.count(i)] for i in set(c)]

[['b', 3],
 ['a', 1],
 ['j', 1],
 ['e', 1],
 ['v', 1],
 ['k', 1],
 ['h', 1],
 ['4', 1],
 ['f', 1],
 ['2', 1],
 ['w', 1],
 ['8', 3],
 ['6', 1]]

In [20]:
print([[i,c.count(i)] for i in set(c)])

[['b', 3], ['a', 1], ['j', 1], ['e', 1], ['v', 1], ['k', 1], ['h', 1], ['4', 1], ['f', 1], ['2', 1], ['w', 1], ['8', 3], ['6', 1]]

In [21]:
# 8. How can you create Empty NumPy Array In Python?

In [22]:
e=np.array([])

In [23]:
e

array([], dtype=float64)

In [24]:
#10) What is the output of the below code?

In [25]:
import array
a = [1, 2, 3]
print(a[-3])
print(a[-2])
print(a[-1])

1
2
3

In [26]:
#11) What is the output of the below program?

In [27]:
names = ['Chris', 'Jack', 'John', 'Daman']
print(names[-1][-1])

n

In [28]:
f=['sdfgsdg','ghfgh','asdads','ghjgj']

In [29]:
print(f[-1][-1])

j

In [30]:
# 13) What is data type SET in Python and how to work with it?

In [31]:
a = {"a", "b", "c", "d", "e"}

In [32]:
a

{'a', 'b', 'c', 'd', 'e'}

In [33]:
len(a)

5

In [34]:
if 'a' in a:
    print("yes")

yes

In [35]:
if 'x' in a:
    print("No")

In [36]:
if 'd' in a:
    print("abd")

abd

In [37]:
if 'd' in a:
    print(a)

{'b', 'a', 'c', 'e', 'd'}

In [38]:
items=set()

In [39]:
items.add("x")

In [40]:
items.add("y")

In [41]:
items.add("z")

In [42]:
items

{'x', 'y', 'z'}

In [43]:
# 14) How do you Concatenate Strings in Python?

In [44]:
'a'+'b'+'c'

'abc'

In [45]:
'Don' + 'etr' + 'a'

'Donetra'

In [46]:
print('Don' + 'etr' + 'a')

Donetra

In [22]:
# 15) How to generate random numbers in Python?

In [50]:
from numpy.random import randn

In [51]:
randn(4)

array([-0.95276835,  1.655412  ,  2.65639372, -0.18184476])

In [52]:
# 16) How to print the sum of the numbers starting from 1 to 100?

In [53]:
a=range(0,101)

In [54]:
a

range(0, 101)

In [55]:
sum(a)

5050

In [56]:
# 18) What is the output of the program?

In [57]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]

names2[0] = 'Alice'
names3[1] = 'Bob'

sum = 0
for ls in (names1, names2, names3):
if ls[0] == 'Alice':
sum += 1
if ls[1] == 'Bob':
sum += 10

print sum

IndentationError: expected an indented block (198901938.py, line 10)

In [58]:
# 19) What is the output, Suppose list1 is [1, 3, 2], What is list1 * 2?

In [59]:
list1=[1,3,2]

In [60]:
list1*2

[1, 3, 2, 1, 3, 2]

In [61]:
# 20) What is the output when we execute list(“hello”)?

In [62]:
b=list("hello")

In [63]:
b

['h', 'e', 'l', 'l', 'o']

In [64]:
#21) Can you write a program to find the average of numbers in a list in Python?

In [65]:
a=[]
n=int(input("Enter the number of elements to be inserted: "))
for i in range(0,n):
    b=int(input("Enter elemnet: "))
    a.append(b)
    avg=sum(a)/n
    print("Average of elements in the list is ",avg)

Enter the number of elements to be inserted: 3
Enter elemnet: 23
Average of elements in the list is  7.666666666666667
Enter elemnet: 21
Average of elements in the list is  14.666666666666666
Enter elemnet: 11
Average of elements in the list is  18.333333333333332

In [ ]:
a=[]
n=int(input("Enter the number of elements to be inserted: "))
for i in range(0,n):
    b=int(input("Enter elemnet: "))
    a.append(b)
    avg=sum(a)/n
    print("Average of elements in the list is ", round(avg,2))

In [ ]:
# 22) Write a program to reverse a number in Python?

In [66]:
a = int(input("Enter the integer number: "))  
b = 0   
while (a > 0):  
    r = a % 10  
    b = (b * 10) + r  
    a = b // 10  
  
# Display the result  
print("The reverse number is : {}".format(b))

Enter the integer number: 12345
The reverse number is : 5

In [67]:
n = 4562
rev = 0

while(n > 0):
	a = n % 10
	rev = rev * 10 + a
	n = n // 10

print(rev)

2654

In [69]:
b = int(input("Enter the integer number: "))  
rev = 0

while(b > 0):
	a = b % 10
	rev = rev * 10 + a
	b = b // 10

print(rev)

Enter the integer number: 45
54

In [70]:
# 23) Write a program to find the sum of the digits of a number in Python?

In [84]:
def SumOD(n):
    sum = 0
    for digit in str(n):
        sum += int(digit)
    return SumOD

In [85]:
n=234

In [86]:
SumOD

In [89]:
def getSum(n):
	sum = 0
	for i in n:
		sum = sum + int(i)
	return sum

In [90]:
n = "123456789123456789123422"
print(getSum(n))

104

In [103]:
# 25) Write a Python Program to Count the Number of Digits in a Number?

In [105]:
a=87878797

In [111]:
b=str(a)

In [113]:
len(b)

8

In [117]:
a = int(input("Please Enter any Number: "))
def count_digits(a):
	n = str(a)
	return len(n)
print("Number of digits are:", count_digits(a))

Please Enter any Number: 5432
Number of digits are: 4

In [96]:
a = int(input("Please Enter any Number: "))
Count = 0
while(a > 0):
    a = a // 10
    Count = Count + 1

print("\n Number of Digits in a Given Number = %d" %Count)

Please Enter any Number: 345

 Number of Digits in a Given Number = 3

In [99]:
def countDigit(n):
	if n/10 == 0:
		return 1
	return 1 + countDigit(n // 10)

In [100]:
n = 345289467
print("Number of digits : % d" % (countDigit(n)))

Number of digits :  10

In [101]:
def count_digits(n):
	n = str(n)
	return len(n)

In [102]:
n = 456533457776
print(count_digits(n))

12

In [118]:
# 26) Write a Python Program to Print Table of a Given Number?

In [120]:
n=int(input("Enter the number to print the tables for:"))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

Enter the number to print the tables for:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [121]:
# 27) Write a Python Program to Check if a Number is a Prime Number?

In [127]:
num = 144
if num > 1:
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
            print(num, "is a prime number")

else:
    print(num, "is not a prime number")

144 is not a prime number

In [123]:
n=int(input("Enter the number to print the tables for:"))
if n>1:
    for i in range(2,int(2/2)+1):
        if (num%i)==0:
            print(n,"Is not prime")
            break
        else:
            print(n,"Is prime")
    else:
        print(n,'Is not prime')

Enter the number to print the tables for:6
6 Is not prime

In [128]:
# 35) Write a Python Program to Check Common Letters in Two Input Strings?

In [130]:
a=("The jh ois oowejfk")
b=('pj hwgedig akshd ljeqd')

In [144]:
result=[] 
if(len(a)<len(b)): 
	for i in a: 
		if(i in b): 
			result.append(i) 
else: 
	for i in b: 
		if(i in a): 
			result.append(i) 
print("Common character are:",*result)

Common character are: h e   j h   i s   w e j k

In [147]:
s1=input("Enter first string:")
s2=input("Enter second string:")

Enter first string:i love my india
Enter second string:india is my country

In [148]:
result=[] 
if(len(s1)<len(s2)): 
	for i in s1: 
		if(i in s2): 
			result.append(i) 
else: 
	for i in s2: 
		if(i in s1): 
			result.append(i) 
print("Common character are:",*result)

Common character are: i   o   m y   i n d i a

In [149]:
# 34) Write a Python Program to Count the Number of Vowels in a String?

In [4]:
v=['a','e','i','o','u']

In [9]:
for i in v:
    print(i)

a
e
i
o
u

In [10]:
a=set(v)

In [8]:
def vowel_count(str):
	count = 0
	vowel = set("aeiouAEIOU")
	for alphabet in str:
		if alphabet in vowel:
			count = count + 1
	print("No. of vowels :", count)

In [13]:
str = "i love my country"
vowel_count(str)

No. of vowels : 5

In [26]:
s1=input("Enter the string")
def vowel_count(str):
    count = 0
    for alphabet in s1:
        if alphabet in a:
            count = count + 1
    print("No. of vowels :", count)
    vowel_count(str)

Enter the stringjh

In [24]:
string=input("Enter string:")
vowels=0
for i in string:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
        vowels=vowels+1
        print("Number of vowels are:")
        print(vowels)

Enter string:ijjp
Number of vowels are:
1

In [29]:
# 32) Write a Python Program to Swap the First and Last Value of a List?

In [33]:
def swap(List):
    size = len(List)
    temp = List[0]
    List[0] = List[size - 1]
    List[size - 1] = temp
    return List

In [34]:
List = [1,2,3,4,5,6]
print(swap(List))

[6, 2, 3, 4, 5, 1]

In [36]:
# 31) Write a Python Program to Find the Second Largest Number in a List?

In [15]:
a=[18,33,66,11,33,99,]

In [16]:
a.sort()

In [18]:
a

[11, 18, 33, 33, 66, 99]

In [19]:
print("Second largest element is:", a[-2])

Second largest element is: 66

In [20]:
a = [10, 20, 4, 45, 99]
a.sort()
print("Second largest element is:", a[-2])

Second largest element is: 45

In [ ]:
# 30) Write a Python Program to Check if a Number is a Strong Number?

In [26]:
def factorial(number):
	if(number == 0 or number == 1):
		fact = 1
	else:
		fact = number * factorial(number - 1)
	return fact

In [ ]:
def strong_number(list):
	new_list =[]

	for x in list:
		temp = x
		sum = 0
		while(temp):
			rem = temp % 10
			sum += factorial(rem)
			temp = temp // 10
		if(sum == x):
			new_list.append(x)
		else:
			pass
			
	return new_list

In [27]:
list1 = [1, 2, 5, 145, 654, 34]
strong_num_list = strong_number(list1)
print(strong_num_list)

[1, 2, 145]

In [ ]:
# 5) How to convert a list into a set?

In [21]:
a = ['sd','sd','ee','ee','aa']
listAsTuple= tuple(a)
print(listAsTuple)

('sd', 'sd', 'ee', 'ee', 'aa')