In [1]:
# 1. Check if a list contains an element

l1 = [1,2,3,'a','b','c']
'a' in l1

True

In [5]:
l1 = ['a','b','c']
for i in l1:
    if 'a' in i:
        print('Present')

Present

In [44]:
# 2. Find the index of the 1st matching element

l2 = ['apple', 'grapefruit', 'apple', 'pear']
l2.index('apple')

0

In [14]:
# 3. Iterate over both the values in a list and their indices

l3 = ['a','b','c']
for idx,val in enumerate(l3):
    print("%s: %s" % (idx, val))
    
#=> 0: flour
#=> 1: cheese
#=> 2: carrots

0: a
1: b
2: c

In [15]:
# 4. How to concatenate two lists

l4 = ['a', 'b', 'c']
l5 = [1, 2, 3]
l4 + l5 #=> ['a', 'b', 'c', 1, 2, 3]

['a', 'b', 'c', 1, 2, 3]

In [17]:
l4.extend(l5)
print(l4)

['a', 'b', 'c', 1, 2, 3, 1, 2, 3]

In [18]:
# 5. How to manipulate every element in a list with list comprehension

l6 = [0,25,50,100]
[i+1 for i in l6] 
#=> [1, 26, 51, 101]

[1, 26, 51, 101]

In [19]:
for i in l6:
    print(i+1)

1
26
51
101

In [20]:
# 6. Count the occurrence of a specific object in a list

l7 = ['a','a','a','a','b','b','b',1,2,3,1,2,3,1,2,3,1,2,3,1,2,3,1,2,3]
l7.count('a')
#=> 2

4

In [21]:
for i in l7:
    l7.count(i)

In [23]:
# 7. How to check if an element is not in a list?

l8 = ['q','w','e','r','t','y']
'h' in l8

False

In [26]:
# 8. Convert a list into a dictionary where list elements are keys

l9 = ['a','b','c','d','e','f']
d = {x for x in l9}
d #=> {'The': 1, 'quick': 1, 'brown': 1, 'fox': 1, 'was': 1}

{'a', 'b', 'c', 'd', 'e', 'f'}

In [28]:
d1={x:1 for x in l9}
d1

{'a': 1, 'b': 1, 'c': 1, 'd': 1, 'e': 1, 'f': 1}

In [30]:
# 9. Return every 2nd element in a list between 2 indices

l10 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]
l10[1:16:2]

[2, 4, 6, 8, 10, 12, 14, 16]

In [38]:
# 10. Sort a list of integers in descending order

l11 = [10,1,9,2,8,3,7,4,6,5]
l11.sort()
l11

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
l11.sort(reverse=True)
l11

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
# 11. Filter even values out of a list with list comprehension

l12 = [1,2,3,4,5,6,7,8,9,10]
[i for i in l12 if i%2!=0]

[1, 3, 5, 7, 9]

In [42]:
for i in l12:
    if i%2!=0:
        print(i)

1
3
5
7
9