# If Else

In [1]:
Cities=["Nagpur", "Pune", "Mumbai"]

In [2]:
City=Cities[0]

In [3]:
City

'Nagpur'

In [4]:
if City=='Nagpur':
    print("Its hot")

Its hot

In [5]:
if City=="Puna":
    print("Its not hot")

In [6]:
if City=="Pune":
    print("Its not hot")

In [7]:
if City=='Nagpur':
    print("Its hot")
else:
    print("Not hot")

Its hot

In [8]:
if City=='Pune':
    print("Its hot")
else:
    print("Not hot")

Not hot

In [9]:
City='Delhi'

In [10]:
if City=='Nagpur':
    print("Its hot")
elif City=="Mumbai":
    print("Party")
elif City=="Pune":
    print("Masti")
else:
    print("Sleep")

Sleep

In [11]:
a='Bhopal'

In [12]:
Cities.append(a)

In [13]:
for City in Cities:
    if City=='Nagpur':
        print ("Its Hot")
    elif City=="Mumbai":
        print("Party")
    elif City=="Pune":
        print("Masti")
    else:
        print("Sleep")

Its Hot
Masti
Party
Sleep

In [14]:
for City in Cities:
    if City=='Nagpur':
        print ("Yes nagpur is present")
    elif City=="Mumbai":
        print("Yes mumbai is present")
    elif City=="Pune":
        print("Yes pune is present")
    else:
        print("Sleep")

Yes nagpur is present
Yes pune is present
Yes mumbai is present
Sleep

In [3]:
H=list(range(1,11))

In [4]:
print(H)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
for i in H:
    if (i%2)==0:
        print( "Number",i,"is Even number")
    else:
        print("Number",i,"is Odd number")

Number 1 is Odd number
Number 2 is Even number
Number 3 is Odd number
Number 4 is Even number
Number 5 is Odd number
Number 6 is Even number
Number 7 is Odd number
Number 8 is Even number
Number 9 is Odd number
Number 10 is Even number

In [13]:
num=int(input("Enter number:"))
if (num%2)==0:
    print("Even number")
else:
    print("Odd number")

Enter number:5
Odd number

# While loop

In [11]:
counter =0

In [12]:
while counter<3:
    print("Inside loop")
    counter=counter+1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else

In [16]:
n=10

In [17]:
sum=0

In [18]:
i=1

In [19]:
while i<=n:
    sum=sum+i
    i=i+1

In [20]:
print("The sum is", sum)

The sum is 55

In [21]:
for i in n:
    sum=sum+i
    i=i+1

TypeError: 'int' object is not iterable

In [23]:
a=[]

In [25]:
b={
    "Virat":"Kohli",
    "Rohit":"Sharma",
    "Hardik":"Pandya"
}

In [26]:
b.keys

In [27]:
b.keys()

dict_keys(['Virat', 'Rohit', 'Hardik'])

In [28]:
b.values()

dict_values(['Kohli', 'Sharma', 'Pandya'])

In [29]:
print(b.keys())
print(b.values())
print(b.items())

dict_keys(['Virat', 'Rohit', 'Hardik'])
dict_values(['Kohli', 'Sharma', 'Pandya'])
dict_items([('Virat', 'Kohli'), ('Rohit', 'Sharma'), ('Hardik', 'Pandya')])

In [32]:
for x,y in b.items():
    print(y)

Kohli
Sharma
Pandya

In [34]:
for x,y in b.items():
    a.append(x)
    a.append(y)
    print(a)

['Virat', 'Kohli']
['Virat', 'Kohli', 'Rohit', 'Sharma']
['Virat', 'Kohli', 'Rohit', 'Sharma', 'Hardik', 'Pandya']

In [35]:
a

['Virat', 'Kohli', 'Rohit', 'Sharma', 'Hardik', 'Pandya']

In [36]:
c=[]

In [ ]:
for x in b.keys():