# Forloop continued

In [19]:
B = list(range(1,171))

In [20]:
for a in B:
    print ('17','*',a,'is', a*17)

17 * 1 is 17
17 * 2 is 34
17 * 3 is 51
17 * 4 is 68
17 * 5 is 85
17 * 6 is 102
17 * 7 is 119
17 * 8 is 136
17 * 9 is 153
17 * 10 is 170
17 * 11 is 187
17 * 12 is 204
17 * 13 is 221
17 * 14 is 238
17 * 15 is 255
17 * 16 is 272
17 * 17 is 289
17 * 18 is 306
17 * 19 is 323
17 * 20 is 340
17 * 21 is 357
17 * 22 is 374
17 * 23 is 391
17 * 24 is 408
17 * 25 is 425
17 * 26 is 442
17 * 27 is 459
17 * 28 is 476
17 * 29 is 493
17 * 30 is 510
17 * 31 is 527
17 * 32 is 544
17 * 33 is 561
17 * 34 is 578
17 * 35 is 595
17 * 36 is 612
17 * 37 is 629
17 * 38 is 646
17 * 39 is 663
17 * 40 is 680
17 * 41 is 697
17 * 42 is 714
17 * 43 is 731
17 * 44 is 748
17 * 45 is 765
17 * 46 is 782
17 * 47 is 799
17 * 48 is 816
17 * 49 is 833
17 * 50 is 850
17 * 51 is 867
17 * 52 is 884
17 * 53 is 901
17 * 54 is 918
17 * 55 is 935
17 * 56 is 952
17 * 57 is 969
17 * 58 is 986
17 * 59 is 1003
17 * 60 is 1020
17 * 61 is 1037
17 * 62 is 1054
17 * 63 is 1071
17 * 64 is 1088
17 * 65 is 1105
17 * 66 is 1122
17 * 67 is 1139
17 * 68 is 1156
17 * 69 is 1173
17 * 70 is 1190
17 * 71 is 1207
17 * 72 is 1224
17 * 73 is 1241
17 * 74 is 1258
17 * 75 is 1275
17 * 76 is 1292
17 * 77 is 1309
17 * 78 is 1326
17 * 79 is 1343
17 * 80 is 1360
17 * 81 is 1377
17 * 82 is 1394
17 * 83 is 1411
17 * 84 is 1428
17 * 85 is 1445
17 * 86 is 1462
17 * 87 is 1479
17 * 88 is 1496
17 * 89 is 1513
17 * 90 is 1530
17 * 91 is 1547
17 * 92 is 1564
17 * 93 is 1581
17 * 94 is 1598
17 * 95 is 1615
17 * 96 is 1632
17 * 97 is 1649
17 * 98 is 1666
17 * 99 is 1683
17 * 100 is 1700
17 * 101 is 1717
17 * 102 is 1734
17 * 103 is 1751
17 * 104 is 1768
17 * 105 is 1785
17 * 106 is 1802
17 * 107 is 1819
17 * 108 is 1836
17 * 109 is 1853
17 * 110 is 1870
17 * 111 is 1887
17 * 112 is 1904
17 * 113 is 1921
17 * 114 is 1938
17 * 115 is 1955
17 * 116 is 1972
17 * 117 is 1989
17 * 118 is 2006
17 * 119 is 2023
17 * 120 is 2040
17 * 121 is 2057
17 * 122 is 2074
17 * 123 is 2091
17 * 124 is 2108
17 * 125 is 2125
17 * 126 is 2142
17 * 127 is 2159
17 * 128 is 2176
17 * 129 is 2193
17 * 130 is 2210
17 * 131 is 2227
17 * 132 is 2244
17 * 133 is 2261
17 * 134 is 2278
17 * 135 is 2295
17 * 136 is 2312
17 * 137 is 2329
17 * 138 is 2346
17 * 139 is 2363
17 * 140 is 2380
17 * 141 is 2397
17 * 142 is 2414
17 * 143 is 2431
17 * 144 is 2448
17 * 145 is 2465
17 * 146 is 2482
17 * 147 is 2499
17 * 148 is 2516
17 * 149 is 2533
17 * 150 is 2550
17 * 151 is 2567
17 * 152 is 2584
17 * 153 is 2601
17 * 154 is 2618
17 * 155 is 2635
17 * 156 is 2652
17 * 157 is 2669
17 * 158 is 2686
17 * 159 is 2703
17 * 160 is 2720
17 * 161 is 2737
17 * 162 is 2754
17 * 163 is 2771
17 * 164 is 2788
17 * 165 is 2805
17 * 166 is 2822
17 * 167 is 2839
17 * 168 is 2856
17 * 169 is 2873
17 * 170 is 2890

In [17]:
C = list(range(1,11))

In [18]:
for a in C:
    print ('17','*',a,'is', a*17)

17 * 1 is 17
17 * 2 is 34
17 * 3 is 51
17 * 4 is 68
17 * 5 is 85
17 * 6 is 102
17 * 7 is 119
17 * 8 is 136
17 * 9 is 153
17 * 10 is 170

In [33]:
F=range (17,171,17)

In [34]:
for i in range (17,171,17):
    print(i)

17
34
51
68
85
102
119
136
153
170

In [36]:
for i in F:
    print(i)

17
34
51
68
85
102
119
136
153
170

In [53]:
G = {
    'Mahashtra' : 'Mumbai',
    'Orissa' : 'Bhuwaneshwar',
    'Punjab' : 'chandigarh'
}

In [54]:
L1 =[]

In [55]:
L2 =[]

In [56]:
L3 =[]

In [57]:
for x,y in G.items():
    print(x)

Mahashtra
Orissa
Punjab

In [58]:
for x,y in G.items():
    print(y)

Mumbai
Bhuwaneshwar
chandigarh

In [59]:
for x,y in G.items():
    L2.append(x)
    L2.append(y)
    print(L2)

['Mahashtra', 'Mumbai']
['Mahashtra', 'Mumbai', 'Orissa', 'Bhuwaneshwar']
['Mahashtra', 'Mumbai', 'Orissa', 'Bhuwaneshwar', 'Punjab', 'chandigarh']

# If else

In [3]:
H = ['Chennai', 'Nagpur', 'Jaipur']

In [8]:
city = H[0]

In [9]:
city

'Chennai'

In [10]:
if city=='Chennai':
    print("It's Hot")

It's Hot

In [11]:
if city=='Nagpur':
    print("It's not Hot")

In [12]:
if city=='Chennai':
    print("It's Hot")
else:
    print("Not Hot")

It's Hot

In [13]:
if city=='Nagpur':
    print("It's Hot")
else:
    print("Not Hot")

Not Hot

In [14]:
city='Bhopal'

In [15]:
if city=='Chennai':
    print("It's Hot")
else city=='Mumbai':
    print("Party")
else city=='Pune':
    print("Masti")
else:
    print("Sleep")

SyntaxError: invalid syntax (2799807805.py, line 3)

In [23]:
if city=='Chennai':
    print("It's Hot")
else city=='Mumbai':
    print("Party")

SyntaxError: invalid syntax (3674417907.py, line 3)

In [1]:
a='Bhopal'

In [4]:
H

['Chennai', 'Nagpur', 'Jaipur']

In [5]:
H.append(a)

In [6]:
H

['Chennai', 'Nagpur', 'Jaipur', 'Bhopal']

In [7]:
for b in H:
    print(b)

Chennai
Nagpur
Jaipur
Bhopal

In [9]:
for b in H:
    if b=='Pune':
        print('Present')

In [1]:
for city in H:
    if city=='Chennai':
    print("It's Hot")
else city=='Mumbai':
    print("Party")
else city=='Pune':
    print("Masti")
else:
    print("Sleep")

IndentationError: expected an indented block (4059085730.py, line 3)