In [13]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [14]:
n1=3
n2=5
n1=int(n1)
n2=int(n2)

In [8]:
n1=3
n2='a'

In [11]:
n1=int(n1)
n2=int(n2)

ValueError: invalid literal for int() with base 10: 'a'

In [12]:
try:
    n1=int(n1)
    n2=int(n2)
except:
    print('please provide int value')

please provide int value

In [6]:
type(n1)

int

In [7]:
b = 125.0
c = 390.8

print(int(b))
print(int(c))

125
390

# Date Time

In [16]:
import datetime

In [30]:
a=datetime.datetime.now()

In [31]:
a

datetime.datetime(2022, 4, 18, 8, 37, 59, 905336)

In [20]:
a.year

2022

In [21]:
a.time

In [22]:
a.hour

8

In [24]:
a.minute

31

In [34]:
b=datetime.datetime(1999, 6, 7)

In [28]:
b

datetime.datetime(1999, 6, 7, 0, 0)

In [29]:
b.month

6

In [36]:
print(a.strftime('%A'))

Monday

In [38]:
print(a.strftime('%B'))

April

In [39]:
print(a.strftime('%b'))

Apr

In [35]:
print(b.strftime('%A'))            # - wrong output

Monday

# RegEx

In [40]:
import re

In [41]:
import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

In [43]:
print(x)

<re.Match object; span=(0, 17), match='The rain in Spain'>

In [51]:
txt='How are you'
a=re.search("^How.*you",txt)
a

In [52]:
txt='How are you now'
b=re.search("^How.*you",txt)
b

In [55]:
txt = "The rain in Spain"
x = re.findall("ai", txt)
x

['ai', 'ai']

In [56]:
txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [58]:
x.start()

3

In [59]:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']