# ForLoop

A for loop is used for iterating over a sequence (that is either a list, a tuple,a dictionary, a set or a string).

This is less like the 'for' keyword in other progrmming languages, and works more like an iterator method as found in other object-oriented programming language.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set, etc.

In [2]:
cities=['Nagpur', 'Pune', 'Mumbai', 'banglore', 'Chennai']

In [2]:
cities

['Nagpur', 'Pune', 'Mumbai', 'banglore', 'Chennai']

In [11]:
for a in cities:
    print(a)

Nagpur
Pune
Mumbai
banglore
Chennai

In [25]:
for city in cities:
    print(city)

Nagpur
Pune
Mumbai
banglore
Chennai

In [4]:
for city in 'Nagpur':
    print(city)

N
a
g
p
u
r

In [5]:
for city in  cities:
    print(city)
    if city == 'Mumbai':
        break

Nagpur
Pune
Mumbai

In [20]:
for a in cities:
    if a == 'Mumbai':
        break
        print(a)

In [21]:
a

'Mumbai'

In [10]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [3]:
for city in cities:
    print('I love', city)

I love Nagpur
I love Pune
I love Mumbai
I love banglore
I love Chennai

In [6]:
for city in cities:
    print('I love', city,',India')

I love Nagpur ,India
I love Pune ,India
I love Mumbai ,India
I love banglore ,India
I love Chennai ,India

In [2]:
a =[1,2,3,4,5,6,7,8,9]

In [3]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
b=range(1,10)

In [7]:
b

range(1, 10)

In [28]:
C=list(range(1,10))

In [29]:
C

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
for x in C:
    print(x)

1
2
3
4
5
6
7
8
9

In [39]:
for x in C:
    print('Inverse of', x, 'is' , 1/x)

Inverse of 1 is 1.0
Inverse of 2 is 0.5
Inverse of 3 is 0.3333333333333333
Inverse of 4 is 0.25
Inverse of 5 is 0.2
Inverse of 6 is 0.16666666666666666
Inverse of 7 is 0.14285714285714285
Inverse of 8 is 0.125
Inverse of 9 is 0.1111111111111111

In [38]:
for a in C:
    print('Inverse of the number',a,
         'is', 1/a)

Inverse of the number 1 is 1.0
Inverse of the number 2 is 0.5
Inverse of the number 3 is 0.3333333333333333
Inverse of the number 4 is 0.25
Inverse of the number 5 is 0.2
Inverse of the number 6 is 0.16666666666666666
Inverse of the number 7 is 0.14285714285714285
Inverse of the number 8 is 0.125
Inverse of the number 9 is 0.1111111111111111

In [40]:
for a in C:
    print('Inverse of the number',a,
         'is', '1/',a)

Inverse of the number 1 is 1/ 1
Inverse of the number 2 is 1/ 2
Inverse of the number 3 is 1/ 3
Inverse of the number 4 is 1/ 4
Inverse of the number 5 is 1/ 5
Inverse of the number 6 is 1/ 6
Inverse of the number 7 is 1/ 7
Inverse of the number 8 is 1/ 8
Inverse of the number 9 is 1/ 9

In [41]:
B=list(range(1,101))

In [18]:
B

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [42]:
for a in B:
    print("Square of the number", a, 'is', a**2)

Square of the number 1 is 1
Square of the number 2 is 4
Square of the number 3 is 9
Square of the number 4 is 16
Square of the number 5 is 25
Square of the number 6 is 36
Square of the number 7 is 49
Square of the number 8 is 64
Square of the number 9 is 81
Square of the number 10 is 100
Square of the number 11 is 121
Square of the number 12 is 144
Square of the number 13 is 169
Square of the number 14 is 196
Square of the number 15 is 225
Square of the number 16 is 256
Square of the number 17 is 289
Square of the number 18 is 324
Square of the number 19 is 361
Square of the number 20 is 400
Square of the number 21 is 441
Square of the number 22 is 484
Square of the number 23 is 529
Square of the number 24 is 576
Square of the number 25 is 625
Square of the number 26 is 676
Square of the number 27 is 729
Square of the number 28 is 784
Square of the number 29 is 841
Square of the number 30 is 900
Square of the number 31 is 961
Square of the number 32 is 1024
Square of the number 33 is 1089
Square of the number 34 is 1156
Square of the number 35 is 1225
Square of the number 36 is 1296
Square of the number 37 is 1369
Square of the number 38 is 1444
Square of the number 39 is 1521
Square of the number 40 is 1600
Square of the number 41 is 1681
Square of the number 42 is 1764
Square of the number 43 is 1849
Square of the number 44 is 1936
Square of the number 45 is 2025
Square of the number 46 is 2116
Square of the number 47 is 2209
Square of the number 48 is 2304
Square of the number 49 is 2401
Square of the number 50 is 2500
Square of the number 51 is 2601
Square of the number 52 is 2704
Square of the number 53 is 2809
Square of the number 54 is 2916
Square of the number 55 is 3025
Square of the number 56 is 3136
Square of the number 57 is 3249
Square of the number 58 is 3364
Square of the number 59 is 3481
Square of the number 60 is 3600
Square of the number 61 is 3721
Square of the number 62 is 3844
Square of the number 63 is 3969
Square of the number 64 is 4096
Square of the number 65 is 4225
Square of the number 66 is 4356
Square of the number 67 is 4489
Square of the number 68 is 4624
Square of the number 69 is 4761
Square of the number 70 is 4900
Square of the number 71 is 5041
Square of the number 72 is 5184
Square of the number 73 is 5329
Square of the number 74 is 5476
Square of the number 75 is 5625
Square of the number 76 is 5776
Square of the number 77 is 5929
Square of the number 78 is 6084
Square of the number 79 is 6241
Square of the number 80 is 6400
Square of the number 81 is 6561
Square of the number 82 is 6724
Square of the number 83 is 6889
Square of the number 84 is 7056
Square of the number 85 is 7225
Square of the number 86 is 7396
Square of the number 87 is 7569
Square of the number 88 is 7744
Square of the number 89 is 7921
Square of the number 90 is 8100
Square of the number 91 is 8281
Square of the number 92 is 8464
Square of the number 93 is 8649
Square of the number 94 is 8836
Square of the number 95 is 9025
Square of the number 96 is 9216
Square of the number 97 is 9409
Square of the number 98 is 9604
Square of the number 99 is 9801
Square of the number 100 is 10000

In [43]:
A="Donetra"

In [47]:
B=list(A)

In [48]:
for x in A:
    print(x)

D
o
n
e
t
r
a

In [51]:
for x in "Donetra":
    print(x)

D
o
n
e
t
r
a

In [52]:
for x in 'Donetra':
    print(x,x,x)

D D D
o o o
n n n
e e e
t t t
r r r
a a a

In [57]:
for x in 'Donetra':
    print(x+x+x)

DDD
ooo
nnn
eee
ttt
rrr
aaa

In [58]:
for x in 'Donetra':
    print(x*x)

TypeError: can't multiply sequence by non-int of type 'str'

In [46]:
for x in A:
    print(list(A))

['D', 'o', 'n', 'e', 't', 'r', 'a']
['D', 'o', 'n', 'e', 't', 'r', 'a']
['D', 'o', 'n', 'e', 't', 'r', 'a']
['D', 'o', 'n', 'e', 't', 'r', 'a']
['D', 'o', 'n', 'e', 't', 'r', 'a']
['D', 'o', 'n', 'e', 't', 'r', 'a']
['D', 'o', 'n', 'e', 't', 'r', 'a']

In [1]:
X=list(range(1,10))

In [7]:
X

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
for i in X:                #Same order
    print(-i)

-1
-2
-3
-4
-5
-6
-7
-8
-9

for i in X:             #Same order
    print(-(-i))

In [12]:
for i in X:               #Reverse order
    print(X[-i])

9
8
7
6
5
4
3
2
1

In [49]:
C=list(range(1,6))

In [50]:
for x in C:
    print(x)

1
2
3
4
5

# Functions

Important topic

In [16]:
def adder (a,b):
    sum = a+b
    return sum

In [17]:
adder (5,6)

11

In [29]:
def adder (a,b):
    return a+b

In [30]:
adder (5,6)

11

In [18]:
def solve (a,b):
    solve = a + b -(a*b)/b
    return solve

In [19]:
solve (2,3)

3.0

In [20]:
def square (a):
    square = a**2
    return square

In [21]:
square(8)

64

In [22]:
def X (a):
    X = a**2 + a**3
    return X

In [23]:
X(3)

36

In [27]:
def Y (a,b,c):
    Y = a + b - (c)/2 
    return Y

In [28]:
Y(1,3,6)

1.0

In [33]:
def Z (a):
    return a**a

In [34]:
Z(5)

3125

In [35]:
def D (a,b):
    return a+b , a-b

In [36]:
D(2,3)

(5, -1)

In [42]:
def D (a,b):
    sum = a+b
    sub = a-b
    return sum,sub

In [43]:
D(2,3)

(5, -1)

In [2]:
def E (a,b):
    return 'My name is', a ,'and my age is', b

In [4]:
E ('Donetra', 23)

('My name is', 'Donetra', 'and my age is', 23)